* {
    margin: 0;
    padding: 0;

}

body {
    background-color: black;
    font-family: 'Didot', serif;
    color: white
}

.portfolio {

    display: block;
    background-color: #0D2818;
    color: #FED686;
    padding: 20px 0 25px 90px;
    margin: auto;
    font-size: 50px;

}

.checks {
    background-color: #0D2818;
    color: white;
    margin: 10%;
}

.imgs {
    background-color: #04471C;
    font-family: 'Didot', serif;
    color: cornsilk;
    margin: 10%;

}

.descricao1 {
    background-color: #058C42;
    font-family: 'Didot', serif;
    color: black;
    margin: 10%;
}

.descricao2 {
    background-color: #16DB65;
    font-family: 'Didot', serif;
    color: black;
    margin: 10%;
}